@font-face {
    font-family: "Montserrat";
    src: url(/App_Data/Common/fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Montserrat-Light";
    src: url(/App_Data/Common/fonts/Montserrat-ExtraLight.ttf) format('truetype');
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(/App_Data/Common/fonts/Montserrat-Bold.ttf) format('truetype');
}
body {
    width: 100%;
    height: 100%;
}

.conteiner {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #ccd3e8;
}
.central-part {
    width: 75rem;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.central-part--column {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.central-part--row {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.central-part--justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
/* =============== header =============== */
.header {
    width: 100%;
    height: 4rem;
    background-color: #7382ff;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
}
.header-menu {
    width: 100%;
    height: 100%;
    display: -moz-flex-inline;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.header-menu__item {
    width: 20%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 4rem;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-menu__item:hover {
    background-color: #5567ff;
}
.line-height--2 {
    line-height: 2rem !important;
}
/* =============== ====== =============== */
/* ===============  main  =============== */
.main {
    width: 100%;
    height: calc(100vh - 8rem);
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.main-text {
    font-family: Montserrat-Light, sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: #7783e4;
    text-align: center;
}
.main--justify-start {
    justify-content: flex-start !important;
}
.main--padding-top-2 {
    padding-top: 2rem !important;
    height: calc(100vh - 10rem);
}

/* =============== ====== =============== */
/* ===============  Поля  =============== */
.fields {
    width: 24rem;
    height: 33rem;
    border: #d0d0d0 solid 1px;
    border-radius: 0.625rem;
    padding: 2%;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-self: center;
    padding: 1rem 0.625rem;
}
.fields__item {
    width: 100%;
    height: 3rem;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.fields__item span {
    display: block;
    font-weight: 600;
    text-align: left;
    width: 100%;
    font-size: 1.2rem;
    color: #3d3d3d;
    margin-bottom: 0.1rem;
}
.fields__item input[type=text], .fields__item select, .fields__item input[type=password] {
    width: 95%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #5e5d5d;
    padding: 0 0.3rem;
    font-family: Montserrat, sans-serif;
}
.error {
    font-family: Montserrat-Light, sans-serif;
    font-size: 0.75rem;
    background-color: rgba(255,0,0,0.3);
    border: rgba(255,0,0,0.3) solid 1px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
    box-shadow: 0px 0px 10px 0px rgba(255,0,0,1);
}
.fields__item select{
    width: 100%;
    padding: 0.2rem 0.3rem;
}
.fields__item label {
    font-family: Montserrat-Bold, sans-serif;
}
.fields button {
    width: 58%;
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #dbdbdb;
    background-color: #434697;
    align-self: center;
    margin-left: 4rem;
}
.fields button:hover {
    color: #FFFFFF;
    background-color: #6c70c3;
}

.fields h2 {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #262f5a;
    margin-bottom: 1.3rem;
    font-family: Montserrat-Bold, sans-serif;
}
.text-error {
    width: 100%;
    color: #a10000;
    font-weight: 600;
    text-align: right;
    font-family: Montserrat-Light, sans-serif;
    font-size: 0.75rem;
}
.h-12 {
    height: 12rem !important;
}

.h-20 {
    height: 20rem !important;
}
.cansel-btn {
    width: 100%;
    text-align: center;
    line-height: 3rem;
    border: #4e4e4e solid 1px;
    background-color: #cacaca;
    color: #585858;
    margin-top: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.cansel-btn:hover {
    background-color: #5c5c5c;
    color: #cecece;
}
/* =============== ======= =============== */
/* =============== Таблица =============== */
.userTable {
    width: 100%;
    border: #384cb2 solid 1px;
    font-family: Montserrat, sans-serif;
}
.userTable caption {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #262f5a;
}
.userTable th {
    width: 11.1%;
    border: #384cb2 solid 1px;
    background-color: #384cb2;
    vertical-align: middle;
    text-align: center;
    padding: 0.8rem;
    color: #FFFFFF;
    text-transform: uppercase;
}
.userTable td {
    border: #384cb2 solid 1px;
    vertical-align: middle;
    text-align: left;
    padding: 0.8rem;
    color: #212849;
}
.w-auto {
    //width: auto !important;
}
.td-inline {
    width: 100% !important;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.btn-edit, .btn-delete {
    font-family: Montserrat-Light, sans-serif;
    font-size: 0.875rem;
    margin: 5px 5px;
    padding: 5px 5px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.btn-edit {
    border: #7d35d9 solid 1px;
    color: #7d35d9;
}
.btn-edit:hover {
    background-color: #7d35d9;
    color: #FFFFFF;
}
.btn-delete {
    border: #a035d9 solid 1px;
    color: #a035d9;
}
.btn-delete:hover {
    background-color: #a035d9;
    color: #FFFFFF;
}
/* =============== ======= =============== */
/* =============== footer =============== */
.footer {
    width: 100%;
    height: 4rem;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    background-color: #a6b0ff;
}
/* =============== ====== =============== */
.w-5 {
    width: 5% !important;
}
.w-30 {
    width: 30% !important;
}
.w-70 {
    width: 70% !important;
}
.w-80 {
    width: 80% !important;
}
.text-right {
    text-align: right;
}
.padding-right-10 {
    padding-right: 0.625rem;
}
.center-text {
    text-align: center;
}