
@{
    Layout = null;
    string title = ViewBag.Title;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="~/Content/Common/css/reset.css" rel="stylesheet" />
    <link href="~/Content/Common/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="conteiner">
        <header class="header"> 
            <div class="central-part central-part--column central-part--justify-center">
                <div class="header-menu">
                    <a class="header-menu__item" href="/Home/Index">Главная</a>
                    <a class="header-menu__item" href="/User/Index">Пользователи</a>
                    <a class="header-menu__item line-height--2" href="/User/CreateUser">Создать пользователя</a>
                    <a class="header-menu__item" href="/Role/Index">Роли</a>
                    <a class="header-menu__item" href="/Role/CreateRole">Создать роль</a>
                </div>
            </div>
        </header>
        <main class="main">
            <h1 class="main-text">Welcome to ASP.NET<br>MVC</h1>
        </main>
        <footer class="footer">

        </footer>
    </div>
</body>
</html>
